<section class="<%= category %>-container">
  <h3><%= menu_item.category.name %></h3>
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><%= menu_item.name %></td>
      <td><%= menu_item.description %></td>
      <td><%= number_to_currency(menu_item.price, unit: "$") %></td>
    </tr>
    </tbody>
  </table>
</section>