<h1>Admin Dashboard</h1>

<%= flash[:login_success] %>

<%= link_to "Menu Items", admin_menu_items_path, class: "admin-link" %>

<%= link_to 'Create Category', new_admin_category_path, class: "admin-link" %>
<%= link_to 'Create Menu Type', new_admin_menu_type_path, class: "admin-link" %>
<%= link_to 'Create Menu Item Size', new_admin_size_path, class: "admin-link" %>