<h1>Admin Dashboard</h1>

<%= flash[:login_success] %>

<div class="admin-links-container">
  <%= link_to "Menu Items", admin_menu_items_path, class: "main-link" %>
  <%= link_to "Categories", admin_categories_path, class: "main-link" %>
  <%= link_to "Menu Types", admin_menu_types_path, class: "main-link" %>
  <%= link_to "Menu Item Sizes", admin_sizes_path, class: "main-link" %>
</div>
