<nav class="admin-nav">
  <%= link_to "Admin Navigation Bar", admin_path %>
  <ul>
    <li><%= link_to "Dashboard", admin_path %></li>
    <li><%= link_to "Menu Items", admin_menu_items_path %></li>
    <li><%= link_to "Categories", admin_categories_path %></li>
    <li><%= link_to "Menu Types", admin_menu_types_path %></li>
    <li><%= link_to "Sizes", admin_sizes_path %></li>
    <li><%= link_to "Logout", "/admin/session", method: :delete %></li>
  </ul>
</nav>