<ul>
  <% @category.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
</ul>

<%= form_for @category, url: url do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit button_name %>
<% end %>