<!DOCTYPE html>
<html>
<head>
  <title>Hunan Springs</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <h1>Hunan Springs</h1>

  <nav>
    <ul>
      <li><%= link_to "Menu", menu_path %></li>
      <li><%= link_to "Contact Us", contact_us_path %></li>
    </ul>
  </nav>
</header>

<%= yield %>

</body>
</html>
